#destination {
    padding: 0.25em 0.5em;/*ã‰º ¶‰E‚Ì—]”’*/
  color: #494949;/*•¶šF*/
  background: transparent;/*”wŒi“§–¾‚É*/
  border-left: solid 5px #7db4e6;/*¶ü*/
}

.maptext{
  position: relative;
  padding: 0.6em;
  background: #e0edff;
}

.btnright{
margin-left:30px!important;
}




